<div class="modal fade" id="delItemModal" data-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Інформаційне вікно</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#delItemModal"></button>
            </div>
            <div class="modal-body">
                <p>Ви дійсно бажаєте видалити тварину...</p>
            </div>
            <div class="modal-footer float-right">
                <button data-bs-dismiss="modal"
                        data-bs-target="#delItemModal" class="btn btn-secondary">
                    Скасувати
                </button>
                <button class="btn btn-success" id="btnDelete">Видалити</button>
            </div>
        </div>
    </div>
</div>

<div class="ownmodal d-none" id="ownmodal">
    <div class="myLoader lds-hourglass"></div>
</div>

